# Configuración para @imgly/background-removal-node
# Ruta absoluta a los recursos/modelos
IMGLY_MODELS_PATH=/ruta/absoluta/a/remove-background/node_modules/@imgly/background-removal-node/dist

# Puerto en el que se ejecutará el servidor API
PORT=3001

# Configuración para almacenamiento de archivos
UPLOAD_DIR=uploads
OUTPUT_DIR=images-output

# URL base de la aplicación (ajusta según tu dominio o entorno)
APP_BASE_URL=http://localhost:3001

# URL del favicon personalizado para endpoints estáticos (opcional)
FAVICON_URL=/favicon.svg
